.home {
  @include centerFlexCol;
  width: 100%;
  min-height: 100vh;
  .home-logo {
    width: 100%;
    height: 15vh;
    object-fit: contain;
    margin-top: 4vmin;
  }
  .home-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
