input {
  height: 50px;
  width: 100%;
  appearance: none;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 10px;
  border: 8px solid $primary;
  background-color: $primary;
  cursor: pointer;
  outline: none;
  color: $default-text-color;
  padding: 1rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
  @media (max-width: $medium-small) {
    width: 80%;
  }
}
input:focus {
  box-shadow: 7px 7px 14px #1a1b1d, -7px -7px 14px #3e3f43,
    inset -5px -5px 15px rgba(255, 255, 255, 0.5),
    inset 0 0 55px rgba(70, 70, 70, 0.12);
  color: #fff;
}
